{
    "size": 0,
    "aggs": {
        {{#ca}}
        "ca": {
            "filter": {
                "bool": {
                    "filter": [
                        {{#ca.dates}}
                        {
                            "range": {
                                "dates": {
                                    "format": "yyyy-MM-dd",
                                    "relation": "intersects",
                                    {{#ca.dates.datefrom}}
                                    "gte": "{{ca.dates.datefrom}}"
                                    {{#ca.dates.dateto}},{{/ca.dates.dateto}}
                                    {{/ca.dates.datefrom}}
                                    {{#ca.dates.dateto}}
                                    "lte": "{{ca.dates.dateto}}"
                                    {{/ca.dates.dateto}}
                                }
                            }
                        }
                        {{#ca.place}},{{/ca.place}}
                        {{/ca.dates}}
                        {{#ca.place}}
                        {
                            "nested": {
                                "path": "sc",
                                "query": {
                                    "terms": {
                                        "sc.province": {{#toJson}}ca.place.province{{/toJson}}
                                    }
                                }
                            }
                        }
                        {{/ca.place}}
                    ],
                    "should": [
                        {{#ca.query}}
                        {
                            "multi_match": {
                                "query": "{{ca.query}}",
                                "type": "best_fields",
                                "fields": [
                                    "names",
                                    "content",
                                    "history",
                                    "description"
                                ]
                            }
                        },
                        {
                            "nested": {
                                "path": "uad",
                                "query": {
                                    "multi_match": {
                                        "query": "{{ca.query}}",
                                        "type": "best_fields",
                                        "fields": [
                                            "uad.names",
                                            "uad.content",
                                            "uad.history",
                                            "uad.description"
                                        ]
                                    }
                                }
                            }
                        }
                        {{/ca.query}}
                    ]
                }
            },
            "aggs": {
                "ca_count": {
                    "cardinality": {
                        "field": "root_uri"
                    }
                }
            }
        }
        {{#sp}},{{/sp}}
        {{^sp}}{{#sc}},{{/sc}}{{/sp}}
        {{/ca}}
        {{#sp}}
        "sp": {
            "filter": {
                "bool": {
                    "filter": [
                        {{#sp.dates}}
                        {
                            "nested": {
                                "path": "sp",
                                "query": {
                                    "range": {
                                        "sp.dates": {
                                            "format": "yyyy-MM-dd",
                                            "relation": "intersects",
                                            {{#sp.dates.datefrom}}
                                            "gte": "{{sp.dates.datefrom}}"
                                            {{#sp.dates.dateto}},{{/sp.dates.dateto}}
                                            {{/sp.dates.datefrom}}
                                            {{#sp.dates.dateto}}
                                            "lte": "{{sp.dates.dateto}}"
                                            {{/sp.dates.dateto}}
                                        }
                                    }
                                }
                            }
                        }
                        {{#sp.place}},{{/sp.place}}
                        {{/sp.dates}}
                        {{#sp.place}}
                        {
                            "nested": {
                                "path": "sc",
                                "query": {
                                    "terms": {
                                        "sc.province": {{#toJson}}sp.place.province{{/toJson}}
                                    }
                                }
                            }
                        }
                        {{/sp.place}}
                    ],
                    "should": [
                        {{#sp.query}}
                        {
                            "nested": {
                                "path": "sp",
                                "query": {
                                    "multi_match": {
                                        "query": "{{sp.query}}",
                                        "type": "best_fields",
                                        "fields": [
                                            "sp.names",
                                            "sp.content",
                                            "sp.history",
                                            "sp.description"
                                        ]
                                    }
                                }
                            }
                        }
                        {{/sp.query}}
                    ]
                }
            },
            "aggs": {
                "sp_nested": {
                    "nested": {
                        "path": "sp"
                    },
                    "aggs": {
                        "sp_count": {
                            "cardinality": {
                                "field": "sp.uri"
                            }
                        }
                    }
                }
            }
        }
        {{#sc}},{{/sc}}
        {{/sp}}
        {{#sc}}
        "sc": {
            "filter": {
                "bool": {
                    "filter": [
                        {{#sc.dates}}
                        {
                            "range": {
                                "dates": {
                                    "format": "yyyy-MM-dd",
                                    "relation": "intersects",
                                    {{#sc.dates.datefrom}}
                                    "gte": "{{sc.dates.datefrom}}"
                                    {{#sc.dates.dateto}},{{/sc.dates.dateto}}
                                    {{/sc.dates.datefrom}}
                                    {{#sc.dates.dateto}}
                                    "lte": "{{sc.dates.dateto}}"
                                    {{/sc.dates.dateto}}
                                }
                            }
                        }
                        {{#sc.place}},{{/sc.place}}
                        {{/sc.dates}}
                        {{#sc.place}}
                        {
                            "nested": {
                                "path": "sc",
                                "query": {
                                    "terms": {
                                        "sc.province": {{#toJson}}sc.place.province{{/toJson}}
                                    }
                                }
                            }
                        }
                        {{/sc.place}}
                    ],
                    "should": [
                        {{#sc.query}}
                        {
                            "nested": {
                                "path": "sc",
                                "query": {
                                    "multi_match": {
                                        "query": "{{sc.query}}",
                                        "type": "best_fields",
                                        "fields": [
                                            "sc.names",
                                            "sc.content",
                                            "sc.history",
                                            "sc.description"
                                        ]
                                    }
                                }
                            }
                        }
                        {{/sc.query}}
                    ]
                }
            },
            "aggs": {
                "sc_nested": {
                    "nested": {
                        "path": "sc"
                    },
                    "aggs": {
                        "sc_count": {
                            "cardinality": {
                                "field": "sc.uri"
                            }
                        }
                    }
                }
            }
        }
        {{/sc}}
    }
}
